swagger: '2.0'
info:
  description: 'Webhooks REST API'
  version: '1.0'
  title: Webhooks REST API
  termsOfService: For internal use only
  contact:
    name: sentenial
    url: 'http://sentenial.com'
    email: engineering@sentenial.com
  license:
    name: For internal use only
    url: 'https://sentenial.com'
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://docs.nuapay.com/api/images/logo.png'
host: api.nuapay.com
basePath: /
tags:
  - name: Webhooks
    description: Webhooks configuration endpoints
  - name: Webhooks-Events
    description: Webhook Events
paths:
  /eventTypes:
    get:
      tags:
        - Webhooks-Events
      summary: List webhook events
      description: List webhook events
      operationId: listWebhookEventsUsingGET
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EventTypeCollectionResponse'
          examples:
            application/json:
              uri: "/eventTypes"
              data:
              - eventType: OpenBankingPayment
                resourceType: OpenBankingPayment
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
  /webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks
      description: Return list of webhook items
      operationId: listWebhooksUsingGET
      produces:
        - application/json
      parameters:
        - name: active
          in: query
          required: false
          type: boolean
          description: Flag allow to filter only 'active' or 'invactive' webhooks. If not provided all webhooks are returned.
        - name: createdatefrom
          in: query
          required: false
          type: string
          format: date
          description: Create date from.
        - name: createdateto
          in: query
          required: false
          type: string
          format: date
          description: Create date to.
        - name: name
          in: query
          required: false
          type: string
          maxLength: 70
          description: Webhook name.
        - name: orderby
          in: query
          required: false
          type: string
          description: Order query by, default 'id' in descending order
        - name: pagenumber
          in: query
          required: false
          type: integer
          format: int32
          description: Page Number
          default: 1
        - name: pagesize
          in: query
          required: false
          type: integer
          format: int32
          description: Page size
          default: 20
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebhookCollectionResponseEnvelope'
          examples:
            application/json:
              uri: "/webhooks"
              data:
              - id: 8kd28yoml3
                uri: "/webhooks/8kd28yoml3"
                name: Open Banking Payment
                active: true
                retryNumberOfDays: 1
                signKey: TOddned3vb
                targetUrl: http://example.com/webhooks/listen
                eventTypes:
                - PaymentReceived
                creationDate: '2018-01-23'
              page:
                pageNumber: 1
                pageSize: 20
                totalElements: 1
                totalPages: 1
              sort: []
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: '40000'
              returnDescription: Input validation errors
              details:
              - code: '40011'
                field: createdatefrom
                description: Date format is invalid
                resourceUri: 
              - code: '40011'
                field: createdateto
                description: Date format is invalid
                resourceUri: 
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '422':
          description: Business validations failed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: '40000'
              returnDescription: Input validation errors
              details:
              - code: '40016'
                field: pagesize
                description: Max page size is exceeded
                resourceUri: 
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
    post:
      tags:
        - Webhooks
      summary: Create Webhook
      description: Registers new Webhook configuration
      operationId: createWebhookUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: webhookRequest
          description: webhookRequest
          required: true
          schema:
            $ref: '#/definitions/WebhookRequest'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/WebhookResponseEnvelope'
          examples:
            application/json:
              uri: "/webhooks/8kd28yoml3"
              data:
                id: 8kd28yoml3
                uri: "/webhooks/8kd28yoml3"
                name: Open Banking Payment
                active: true
                retryNumberOfDays: 1
                signKey: TOddned3vb
                targetUrl: http://example.com/webhooks/listen
                eventTypes:
                - PaymentReceived
                creationDate: '2018-01-23'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: '40000'
              returnDescription: Input validation errors
              details:
              - code: '40001'
                field: eventTypes
                description: Field is required
                resourceUri: 
              - code: '40003'
                field: active
                description: Boolean parameter value must be either 'true' or 'false'
                resourceUri: 
              - code: '40007'
                field: targetUrl
                description: Target URL is invalid or max length is exceeded
                resourceUri: 
              - code: '40017'
                field: retryNumberOfDays
                description: Retry Number of Days is invalid
                resourceUri: 
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '422':
          description: Business validations failed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: '40000'
              returnDescription: Input validation errors
              details:
              - code: '40006'
                field: eventTypes
                description: Not supported Event Type
                resourceUri: 
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
  /webhooks/disableAll:
    post:
      tags:
        - Webhooks
      summary: Disable All
      description: Disable all Webhook items
      operationId: disableAllWebhooksUsingPOST
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebhookStateChangeResponseEnvelope'
          examples:
            application/json:
              uri: "/webhooks/disableAll"
              data:
                uri: "/webhooks/disableAll"
                resourcesUpdated: 2
                resourcesIds: 8kd28yoml3,lk4m683ba7
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
  /webhooks/enableAll:
    post:
      tags:
        - Webhooks
      summary: Enable All
      description: Enable all Webhook items
      operationId: enableAllWebhooksUsingPOST
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebhookStateChangeResponseEnvelope'
          examples:
            application/json:
              uri: "/webhooks/enableAll"
              data:
                uri: "/webhooks/enableAll"
                resourcesUpdated: 2
                resourcesIds: 8kd28yoml3,lk4m683ba7
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
  /webhooks/{webhookId}:
    get:
      tags:
        - Webhooks
      summary: Get Webhook
      description: Retusingle Webhook element
      operationId: getWebhookUsingGET
      produces:
        - application/json
      parameters:
        - name: webhookId
          in: path
          description: webhookId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebhookResponseEnvelope'
          examples:
            application/json:
              uri: "/webhooks/8kd28yoml3"
              data:
                id: 8kd28yoml3
                uri: "/webhooks/8kd28yoml3"
                name: Open Banking Payment
                active: true
                retryNumberOfDays: 2
                signKey: W0eyYmYxFU
                targetUrl: http://example.com/webhooks/listen
                eventTypes:
                - PaymentReceived
                creationDate: '2019-01-23'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
    put:
      tags:
        - Webhooks
      summary: Update Webhook
      description: Updates registed Webhook configuration
      operationId: updateWebhookUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: webhookId
          in: path
          description: webhookId
          required: true
          type: string
        - in: body
          name: webhookRequest
          description: webhookRequest
          required: true
          schema:
            $ref: '#/definitions/WebhookRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebhookResponseEnvelope'
          examples:
            application/json:
              uri: "/webhooks/8kd28yoml3"
              data:
                id: 8kd28yoml3
                uri: "/webhooks/8kd28yoml3"
                name: Open Banking Payment
                active: true
                retryNumberOfDays: 2
                signKey: W0eyYmYxFU
                targetUrl: http://example.com/webhooks/listen
                eventTypes:
                - PaymentReceived
                creationDate: '2019-01-23'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: '40000'
              returnDescription: Input validation errors
              details:
              - code: '40001'
                field: eventTypes
                description: Field is required
                resourceUri: 
              - code: '40003'
                field: active
                description: Boolean parameter value must be either 'true' or 'false'
                resourceUri: 
              - code: '40007'
                field: targetUrl
                description: Target URL is invalid or max length is exceeded
                resourceUri: 
              - code: '40017'
                field: retryNumberOfDays
                description: Retry Number of Days is invalid
                resourceUri: 
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '422':
          description: Business validations failed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: '40000'
              returnDescription: Input validation errors
              details:
              - code: '40006'
                field: eventTypes
                description: Not supported Event Type
                resourceUri: 
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
    delete:
      tags:
        - Webhooks
      summary: Delete Webhook
      description: Delete existing Webhook configuration
      operationId: deleteWebhookUsingDELETE
      parameters:
        - name: webhookId
          in: path
          description: webhookId
          required: true
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
  /webhooks/{webhookId}/disable:
    post:
      tags:
        - Webhooks
      summary: Disable Webhook
      description: Disable existing Webhook configuration
      operationId: disableWebhookUsingPOST
      produces:
        - application/json
      parameters:
        - name: webhookId
          in: path
          description: webhookId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebhookResponseEnvelope'
          examples:
            application/json:
              uri: "/webhooks/8kd28yoml3"
              data:
                id: 8kd28yoml3
                uri: "/webhooks/8kd28yoml3"
                name: Open Banking Payment
                active: false
                retryNumberOfDays: 2
                signKey: W0eyYmYxFU
                targetUrl: http://example.com/webhooks/listen
                eventTypes:
                - PaymentReceived
                creationDate: '2019-01-23'

        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
  /webhooks/{webhookId}/enable:
    post:
      tags:
        - Webhooks
      summary: Enable Webhook
      description: Enable existing Webhook configuration
      operationId: enableWebhookUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: webhookId
          in: path
          description: webhookId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebhookResponseEnvelope'
          examples:
            application/json:
              uri: "/webhooks/8kd28yoml3"
              data:
                id: 8kd28yoml3
                uri: "/webhooks/8kd28yoml3"
                name: Open Banking Payment
                active: true
                retryNumberOfDays: 2
                signKey: W0eyYmYxFU
                targetUrl: http://example.com/webhooks/listen
                eventTypes:
                - PaymentReceived
                creationDate: '2019-01-23'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
        '405':
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null  
      security:
        - OriginatorOAuth2:
          - webhooks
        - OriginatorApiKey: []
      deprecated: false
securityDefinitions:
  OriginatorApiKey:
    type: basic
  OriginatorOAuth2:
    type: oauth2
    tokenUrl: 'https://api.nuapay.com/oauth/token_key'
    flow: password
    scopes:
      webhooks: Webhooks configuration access.
definitions:
  ErrorDetail:
    type: object
    properties:
      code:
        type: string
      description:
        type: string
      field:
        type: string
      resourceUri:
        type: string
    title: ErrorDetail
  ErrorResponse:
    type: object
    properties:
      details:
        type: array
        items:
          $ref: '#/definitions/ErrorDetail'
      returnCode:
        type: string
      returnDescription:
        type: string
    title: ErrorResponse
  EventTypeCollectionResponse:
    type: object
    properties:
      uri:
        type: string
        description: Resource Uri
      data:
        type: array
        description: Webhook resource
        items:
          $ref: '#/definitions/EventTypeResponse'
    title: EventTypeCollectionResponse
  EventTypeResponse:
    type: object
    properties:
      eventType:
        type: string
        description: Event type
      resourceType:
        type: string
        description: Resource type
    title: EventTypeResponse
  OrganizationCollectionResponseDTO:
    type: object
    properties:
      uri:
        type: string
        description: Resource Uri
      data:
        type: array
        items:
          $ref: '#/definitions/OrganizationResponseDTO'
      page:
        $ref: '#/definitions/RestResponsePaginationDetails'
      sort:
        type: array
        description: Sorting
        items:
          type: string
    title: OrganizationCollectionResponseDTO
  OrganizationResponseDTO:
    type: object
    properties:
      active:
        type: boolean
      id:
        type: string
      organizationRef:
        type: integer
        format: int64
      supportedEvents:
        type: array
        items:
          type: string
      uri:
        type: string
    title: OrganizationResponseDTO
  RestResponsePaginationDetails:
    type: object
    properties:
      pageNumber:
        type: integer
        format: int32
      pageSize:
        type: integer
        format: int32
      totalElements:
        type: integer
        format: int32
      totalPages:
        type: integer
        format: int32
    title: RestResponsePaginationDetails
  WebhookCollectionResponseEnvelope:
    type: object
    properties:
      uri:
        type: string
        description: Resource Uri
      data:
        type: array
        description: Webhook resource
        items:
          $ref: '#/definitions/WebhookResponse'
      page:
        $ref: '#/definitions/RestResponsePaginationDetails'
      sort:
        type: array
        description: Sorting
        items:
          type: string
    title: WebhookCollectionResponseEnvelope
  WebhookRequest:
    type: object
    properties:
      active:
        type: boolean
        description: Indicates if webhook is active and events are sent to target URL
      retryNumberOfDays:
        type: integer
        format: int32
        description: The number that specifies how many days retrying should be done
        minimum: 1
        maximum: 3
      name:
        type: string
        description: Name of webhook configuration
        maxLength: 70
      signKey:
        type: string
        description: Secret used to sign body of message sent to target URL. If not provided will be autogenerated by the system.
        maxLength: 255
      targetUrl:
        type: string
        description: URL where call will be made.
        maxLength: 2048
      eventTypes:
        type: array
        description: "List of event types sent to given target URL. For evenTypes available visit <a href='https://sentenial.github.io/developer-docs/ob_whoverview.html' target='_blank' > Webhooks Overview </a>"
        items:
          type: string
    title: WebhookRequest
    example:
      name: Open Banking Payment
      targetUrl: http://example.com/webhooks/listen
      active: true
      retryNumberOfDays: 1
      eventTypes:
      - PaymentReceived
  WebhookResponse:
    type: object
    properties:
      id:
        type: string
        description: Resource identifier
      uri:
        type: string
        description: Resource Uri
      creationDate:
        type: string
        format: date-time
        description: Webhook creation date
      active:
        type: boolean
        description: Indicates if webhook is active and events are sent to target URL
      retryNumberOfDays:
        type: integer
        format: int32
        description: The number that specifies how many days retrying should be done
        minimum: 1
        maximum: 3
      name:
        type: string
        description: Name of webhook configuration
        maxLength: 70
      signKey:
        type: string
        description: Secret used to sign body of message sent to target URL
        maxLength: 255
      targetUrl:
        type: string
        description: URL where call will be made
        maxLength: 2048
      eventTypes:
        type: array
        description: List of event types sent to given target URL.
        items:
          type: string
    title: WebhookResponse
  WebhookResponseEnvelope:
    type: object
    properties:
      uri:
        type: string
        description: Resource Uri
      data:
        $ref: '#/definitions/WebhookResponse'
    title: WebhookResponseEnvelope
  WebhookStateChangeResponse:
    type: object
    properties:
      uri:
        type: string
        description: Resource Uri
      resourcesUpdated:
        type: integer
        format: int32
        description: Number of resource updated
      resourcesIds:
        type: string
        description: A list of resource Ids
    title: WebhookStateChangeResponse
  WebhookStateChangeResponseEnvelope:
    type: object
    properties:
      uri:
        type: string
        description: Resource Uri
      data:
        $ref: '#/definitions/WebhookStateChangeResponse'
    title: WebhookStateChangeResponseEnvelope
